.vscode/settings.json
.vscode/tasks.json
.vs/*
axionc/*
.vs/axionc/FileContentIndex/221ce67e-590d-4e86-bf38-3d8ea020fe27.vsidx
.vs/axionc/FileContentIndex/2982525b-ef26-4fe8-b455-85a6cbdf8205.vsidx
.vs/axionc/FileContentIndex/221ce67e-590d-4e86-bf38-3d8ea020fe27.vsidx
.vs/axionc/FileContentIndex/2982525b-ef26-4fe8-b455-85a6cbdf8205.vsidx
.vs/axionc/FileContentIndex/bc5743e5-0c8a-431b-ab36-535ec1a3bab5.vsidx
.vs/axionc/FileContentIndex/221ce67e-590d-4e86-bf38-3d8ea020fe27.vsidx
